.nav_container {
  height: 60px;

  .wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      column-gap: 10px;

      .language {
        font-size: 14px;
      }
    }

    .center {
      flex: 1;

      .logo {
        margin: 0px;
        text-align: center;
        font-weight: 700;
      }
    }

    .right {
      flex: 1;
      display: flex;
      column-gap: 15px;
      justify-content: flex-end;
      align-items: center;

      .menu-item {
        font-size: 14px;
        cursor: pointer;
        display: flex;

        .btn_register {
          cursor: pointer;
          border: 0.5px solid #344e41;
          padding: 4px 12px;
          background-color: #fff;
          color: #344e41;

          &:hover {
            color: #fff;
            background-color: #344e41;
          }
        }

        .btn_login {
          background-color: #344e41;
          padding: 4px 12px;
          border: 1px solid #4a6d6b;
          cursor: pointer;
          color: #fff;

          &:hover {
            color: #fff;
            background-color: #3a5a40;
          }
        }
      }
    }
  }
}
